<%- include("partials/header") -%>

<h1>Home</h1>

<p class="p-home"> <%= homeParagraph %> </p>

<% newContent.forEach(function(post) {%>
  <h1> <%= post.title %> </h1>
  <p> <%= post.textBody.substr(0, 100) + ("...") %>
    <a id="post" href="/posts/<%= post.title %>">Read More</a>
  </p>
  <% console.log(post.title); %>
<% }); %>


<%- include("partials/footer") -%>
